{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-object-assign",
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
