{
  "presets": ["es2015"],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-assign"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
