extends ../index.pug

block content
  ul#app(ui-view)
    li
      app

  include:markdown-it README.md

block breadcrumb-current
  li.active use with Angular

block footer_content
  script.
    document.write('<base href="' + document.location + '" />');
  script(src="../angular.bundle.js")
