version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm install wait-on
      - run: yarn install && lerna run start --scope userdive-examples & ./node_modules/.bin/wait-on http://localhost:8080 && yarn e2e
      - store_test_results:
          path: /tmp/test-results
  deploy:
    docker:
      - image: circleci/node:8
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn install
      - run: yarn build:examples
      - run:
          name: git config
          command: |
            git config --global user.email "develop+bot@uncovertruth.co.jp"
            git config --global user.name "userdivebot"
      - run: npm run deploy:examples

workflows:
  version: 2
  e2e:
    triggers:
      - schedule:
          cron: "0 5 * * *" # UTC time
          filters:
            branches:
              only:
                - master
    jobs:
      - build

  build-test-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
