extends ../index.pug

block loader
  script(type='text/javascript').
    (function () {
      var tagjs = document.createElement('script');
      var s = document.getElementsByTagName('script')[0];
      tagjs.async = true;
      tagjs.src = '//s.yjtag.jp/tag.js#site=PnJACtB';
      s.parentNode.insertBefore(tagjs, s);
    }());
  noscript
    iframe(src='//b.yjtag.jp/iframe?c=PnJACtB', width='1', height='1', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')
