extends ../index.pug

block content
  include:markdown-it README.md
  button.btn.btn-primary.btn-sm#page page

block footer_content
  script.
    !function(e,t,s,n,a,r,c,i){e[a]=e[a]||function(){(e[a].q=e[a].q||[]).push(arguments)},c=t.createElement(s),i=t.getElementsByTagName(s)[0],
    c.async=1,c.src=n,c.charset=r,c.setAttribute("data-ud-namespace",a),i.parentNode.insertBefore(c,i)}
    (window,document,"script","https://cdn.userdive.com/agent.js","_ud","UTF-8");
    _ud("create", 'af57h6gb', 'auto');
    _ud('send', 'pageview');
    document.getElementById('page')
    .addEventListener('click', function () {
      _ud('send', 'pageview', { page: location.origin+'/agent.js/orverride'+location.search });
    });

