extends ../index.pug

block content
  div#app(ng-app="myapp")
    div(ui-view)

  include:markdown-it README.md

block breadcrumb-current
  li.active use with Angular1

block footer_content
  script(src='../angular1.bundle.js', defer)
