extends ../index.pug

block loader
  // Google Tag Manager
  noscript
    iframe(src='//www.googletagmanager.com/ns.html?id=GTM-WKDF5D', height='0', width='0', style='display:none;visibility:hidden')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-89961506-1', 'auto');
    ga('require', 'GTM-NVSPWLZ');
    ga('send', 'pageview');

block content
  include:markdown-it README.md

block breadcrumb-current
  li.active use with Google Tag Manager

  block link_list
